hmpps.sqs:
  provider: localstack
  region: eu-west-2
  useWebToken: false
  queues:
    audit:
      queueName: "audit"
    email:
      queueName: "email"
      subscribeTopicId: emailtopic
      dlqName: email_dlq
  topics:
    emailtopic:
      arn: arn:aws:sns:eu-west-2:000000000000:email-topic
    matchingnotificationstopic:
      arn: arn:aws:sns:eu-west-2:000000000000:matching-notifications

services:
  hmpps-auth:
    url: ${HMPPS_AUTH_URL:http://localhost:9090/auth}
    mfa: false

aws:
  region: eu-west-2
  s3:
    endpoint-url: http://localhost:4566

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres?sslmode=prefer
    username: postgres
    password: postgres
