---
# Per environment values which override defaults in hmpps-electronic-monitoring-crime-matching-api/values.yaml

generic-service:
  replicaCount: 2

  serviceAccountName: "hmpps-em-crime-matching-dev"

  ingress:
    host: electronic-monitoring-crime-matching-api-dev.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: "applicationinsights.dev.json"
    HMPPS_AUTH_URL: "https://sign-in-dev.hmpps.service.justice.gov.uk/auth"
    ATHENA_OUTPUT_BUCKET: "s3://emds-dev-athena-query-results-20240917144028307600000004"
    MFA_REQUIRED: "false"

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  alertSeverity: hmpps-em-crime-matching-alerts-nonprod
